# The token for the Slack bot
export BOT_TOKEN=xoxb-aaaa

# A path to the jira-rest-client.properties containing credentials
export JIRA_CLIENT_PROPERTY_FILE=/path/to/jira-rest-client.properties

# The file should have the following structure:
# jira.server.url=https://jira.example.org
# jira.user.id=jirauser
# jira.user.pwd=aaaa

# The same JIRA file is used for confluence, as they share the same
# authentication backend, it seems. But the URL endpoint is different
export CONFLUENCE_SERVER_URL=https://confluence.example.org

# Jenkins-related variables
export JENKINS_USERNAME=jenkinsuser
export JENKINS_TOKEN=aaaa
export JENKINS_URL=https://ci.example.org/

# odoo-related variables
export ODOO_HOST=c2c.odoo.camptocamp.ch
export ODOO_PORT=443
export ODOO_SCHEME=https
export ODOO_USERNAME=dududu
export ODOO_PASSWORD=popopo
export ODOO_DB=aaaa

#github-related variables
export GITHUB_TOKEN=aaaaa # set here a token with the appropriate scopes
export GITHUB_WATCHED_USER=octocat # set here the github username for who the events will be watched
export GITHUB_EVENT_FILTER_CLASS=fr.spironet.slackbot.github.DefaultEventFilter # see mentionned package for examples

# an e-mail address for the bot owner, should exist
# in the slack context
export BOT_OWNER_EMAIL=user@example.org

# used for browsing purposes
export BROWSER_CHROMEDRIVER=/home/user/bin/chromedriver-linux-64bit

# grafana / browsing related
export GRAFANA_USER=grafana_username
export GRAFANA_PASSWORD=grafana_password
export GRAFANA_URL=https://grafana.example.org/
export GRAFANA_DASHBOARD_PATH='/d/000000165/dashboard-1?orgId=15&refresh=10s'

export KIBANA_USER=kibana_username
export KIBANA_PASSWORD=kibana_password
export KIBANA_URL=kibana.example.org
export KIBANA_DASHBOARD='/app/kibana#/dashboard/uuid?params'
export KIBANA_CHANNEL_TO_SEND_DASHBOARD=dudu

export TERRAFORM_AWS_CLIENT_KEY=aaaaa
export TERRAFORM_AWS_SECRET_KEY=bbbbb
export TERRAFORM_AWS_ZONE=eu-west-1
export TERRAFORM_AWS_BUCKET=mybucket
export TERRAFORM_STATES_TO_SPY=a/b/terraform.tfstate,c/d/terraform.tfstate

# google calendar API
export GCAL_OAUTH_CLIENT_ID=aaaa
export GCAL_OAUTH_CLIENT_SECRET=bbbbb
export GCAL_OAUTH_ACCESS_TOKEN=cccc
export GCAL_OAUTH_REFRESH_TOKEN=dddd

# google drive API
export GDRIVE_OAUTH_CLIENT_ID=aaaa
export GDRIVE_OAUTH_CLIENT_SECRET=bbbbb
export GDRIVE_OAUTH_ACCESS_TOKEN=cccc
export GDRIVE_OAUTH_REFRESH_TOKEN=dddd

# google mail API
export GMAIL_OAUTH_CLIENT=
export GMAIL_OAUTH_CLIENT_SECRET=
export GMAIL_OAUTH_ACCESS_TOKEN=
export GMAIL_OAUTH_REFRESH_TOKEN=

# google spreadsheets API
export SPREADSHEETS_OAUTH_CLIENT=
export SPREADSHEETS_OAUTH_CLIENT_SECRET=
export SPREADSHEETS_OAUTH_ACCESS_TOKEN=
export SPREADSHEETS_OAUTH_REFRESH_TOKEN=
export C2C_GEOSPATIAL_PLANNING_SPREADSHEET_ID=