# The token for the Slack bot
export BOT_TOKEN=xoxb-aaaa

# A path to the jira-rest-client.properties containing credentials
export JIRA_CLIENT_PROPERTY_FILE=/path/to/jira-rest-client.properties

# The file should have the following structure:
# jira.server.url=https://jira.example.org
# jira.user.id=jirauser
# jira.user.pwd=aaaa

# The same JIRA file is used for confluence, as they share the same
# authentication backend, it seems. But the URL endpoint is different
export CONFLUENCE_SERVER_URL=https://confluence.example.org

# Jenkins-related variables
export JENKINS_USERNAME=jenkinsuser
export JENKINS_TOKEN=aaaa
export JENKINS_URL=https://ci.example.org/

# odoo-related variables
export ODOO_HOST=c2c.odoo.camptocamp.ch
export ODOO_PORT=443
export ODOO_SCHEME=https
export ODOO_USERNAME=dududu
export ODOO_PASSWORD=popopo
export ODOO_DB=aaaa

#github-related variables
export GITHUB_TOKEN=aaaaa # set here a token with the appropriate scopes
export GITHUB_WATCHED_USER=octocat # set here the github username for who the events will be watched
export GITHUB_EVENT_FILTER_CLASS=fr.spironet.slackbot.github.DefaultEventFilter # see mentionned package for examples

# an e-mail address for the bot owner, should exist
# in the slack context
export BOT_OWNER_EMAIL=user@example.org

# used for browsing purposes
export BROWSER_CHROMEDRIVER=/home/user/bin/chromedriver-linux-64bit

# grafana / browsing related
export GRAFANA_USER=grafana_username
export GRAFANA_PASSWORD=grafana_password
export GRAFANA_URL=https://grafana.example.org/
export GRAFANA_DASHBOARD_PATH=/d/000000165/dashboard-1?orgId=15&refresh=10s