# The token for the Slack bot
export BOT_TOKEN=xoxb-aaaa

# A path to the jira-rest-client.properties containing credentials
export JIRA_CLIENT_PROPERTY_FILE=/path/to/jira-rest-client.properties

# The file should have the following structure:
# jira.server.url=https://jira.example.org
# jira.user.id=jirauser
# jira.user.pwd=aaaa

# Jenkins-related variables
export JENKINS_USERNAME=jenkinsuser
export JENKINS_TOKEN=aaaa
export JENKINS_URL=https://ci.example.org/
