BOT_TOKEN={{ BOT_TOKEN }}
JIRA_CLIENT_PROPERTY_FILE=/opt/slackbot/jira-rest-client.properties
CONFLUENCE_SERVER_URL={{ CONFLUENCE_SERVER_URL }}

JENKINS_USERNAME={{ JENKINS_USERNAME}}
JENKINS_TOKEN={{ JENKINS_TOKEN }}
JENKINS_URL={{ JENKINS_URL }}

ODOO_HOST={{ ODOO_HOST }}
ODOO_PORT={{ ODOO_PORT }}
ODOO_SCHEME={{ ODOO_SCHEME }}
ODOO_USERNAME={{ ODOO_USERNAME }}
ODOO_PASSWORD={{ ODOO_PASSWORD }}
ODOO_DB={{ ODOO_DB }}

GITHUB_TOKEN={{ GITHUB_TOKEN }}
GITHUB_WATCHED_USER={{ GITHUB_WATCHED_USER }}
GITHUB_EVENT_FILTER_CLASS={{ GITHUB_EVENT_FILTER_CLASS }}

BOT_OWNER_EMAIL={{ BOT_OWNER_EMAIL }}

BROWSER_CHROMEDRIVER={{ BROWSER_CHROMEDRIVER }}
GRAFANA_USER={{ GRAFANA_USER }}
GRAFANA_PASSWORD={{ GRAFANA_PASSWORD }}
GRAFANA_URL={{ GRAFANA_URL }}
GRAFANA_DASHBOARD_PATH={{ GRAFANA_DASHBOARD_PATH }}

KIBANA_USER={{ KIBANA_USER }}
KIBANA_PASSWORD={{ KIBANA_PASSWORD }}
KIBANA_URL={{ KIBANA_URL }}
KIBANA_DASHBOARD={{ KIBANA_DASHBOARD }}
KIBANA_CHANNEL_TO_SEND_DASHBOARD={{ KIBANA_CHANNEL_TO_SEND_DASHBOARD }}

TERRAFORM_AWS_CLIENT_KEY={{ TERRAFORM_AWS_CLIENT_KEY }}
TERRAFORM_AWS_SECRET_KEY={{ TERRAFORM_AWS_SECRET_KEY }}
TERRAFORM_AWS_ZONE={{ TERRAFORM_AWS_ZONE }}
TERRAFORM_AWS_BUCKET={{ TERRAFORM_AWS_BUCKET }}
TERRAFORM_STATES_TO_SPY={{ TERRAFORM_STATES_TO_SPY }}
